.board{
    height: 95vh;
    width: 65vh;
    border-radius: 10px;
    background-color: #5F5D9C;
    display: grid;
    grid-gap: 2px;
    box-shadow: #1B1A55 2px 4px 10px 1px;
}

.BoardCell{
    border-radius: 2px;
    position: relative;
}

input.controller{
    position: absolute;
    opacity: 0;
}

.tetromino{
    border-top: 3px solid rgba(255, 255, 255, 0.1);
    border-left: 3px solid rgba(255, 255, 255, 0.1);
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    border-right: 3px solid rgba(0, 0, 0, 0.1);
}

.tetromino .sparkle{
    position: absolute;
    height: 6px;
    width: 6px;
    left: -2px;
    top: -2px;
    border-radius: 4px 4px;
    background-color: rgba(255, 255, 255, 0.4);
}

.tetromino .ghost .sparkle{
    opacity: 0;
}

.tetromino__I{
    background-color: rgba(80, 27, 230, 1);
}
.tetromino__J{
    background-color: rgba(36, 95, 233, 1);
}
.tetromino__L{
    background-color: rgba(233, 173, 36, 1);
}
.tetromino__O{
    background-color: rgba(223, 217, 36, 1);
}
.tetromino__S{
    background-color: rgba(48, 211, 56, 1);
}
.tetromino__T{
    background-color: rgba(132, 61, 198, 1);
}
.tetromino__Z{
    background-color: rgba(240, 80, 195, 1);
}
