.preview{
    display: flex;
    flex-direction: column;
}

.spboard{
    margin: 0.5em 0px;
    height: 18vh;
    width: 24vh;
    display: grid;
    grid-gap: 2px;
    border-radius: 4px;
    background-color: #5F5D9C;
}